In [ ]:
colors = ["red","blue","green"]
for color in colors:
    print(color)

In [ ]:
colors = ["red","blue","green"]
for index, color in enumerate (colors):
    print(f"at position{index},i found a {color}")

In [ ]:
for number in range(1,11):
    print(number)

In [ ]:
count = 1
while count <= 10:
    print(count)
    count += 1

In [ ]:
number = [10,20,30,40,50]
n = len(number)
for i in range(n):
    print(number[i])

In [ ]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

In [3]:
date =[1990,1991,1992,1993,1994,1995]
i= 0
dates = date[0]
while dates != 1995:
    print(dates)
    i = i + 1
    dates=date[i]

1990
1991
1992
1993
1994

In [5]:
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for i in Genres:
    print(i)

rock
R&B
Soundtrack
R&B
soul
pop

In [9]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
play = PlayListRatings[i]

while (i < len(PlayListRatings) and play >= 6):
    print(play)
    i = i + 1
    play = PlayListRatings[i]

10
9.5
10
8
7.5

In [5]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

play = PlayListRatings[i]
print(play)

10

In [ ]:
Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. Stop and exit the loop if the value on the list is not 'orange':

In [5]:
square = ['orange', 'orange', 'purple', 'blue ', 'orange']

new_square = []
i = 0
while (i < len(square) and square[i] == 'orange'):
    new_square.append(square[i])
    i = i + 1
    print(new_square)

['orange']
['orange', 'orange']

In [ ]:
Your little brother has just learned multiplication tables in school. Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using for loop.Your little brother has just learned multiplication tables in school. Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using for loop.Your little brother has just learned multiplication tables in school. Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using for loop.Your little brother has just learned multiplication tables in school. Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using for loop.Your little brother has just learned multiplication tables in school. Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using for loop.Your little brother has just learned multiplication tables in school. Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using for loop.Your little brother has just learned multiplication tables in school. Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using for loop.

In [12]:
print("multiplication table of 6:") 
for i in range (1,13):
    print("6*",i, "=", 6*i)

multiplication table of 6:
6* 1 = 6
6* 2 = 12
6* 3 = 18
6* 4 = 24
6* 5 = 30
6* 6 = 36
6* 7 = 42
6* 8 = 48
6* 9 = 54
6* 10 = 60
6* 11 = 66
6* 12 = 72

In [13]:
print("multiplication table of 7")
for i in range (1,13):
    print("7*",i, "=", 7*i)

multiplication table of 7
7* 1 = 7
7* 2 = 14
7* 3 = 21
7* 4 = 28
7* 5 = 35
7* 6 = 42
7* 7 = 49
7* 8 = 56
7* 9 = 63
7* 10 = 70
7* 11 = 77
7* 12 = 84

In [ ]:
The following is a list of animals in a National Zoo. Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]

Your brother needs to write an essay on the animals whose names are made of 7 letters. Help him find those animals through a while loop and create a separate list of such animals.

In [ ]:
Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]

In [14]:
for i, x in enumerate(['A', 'B', 'C']):
    print(i, x)

0 A
1 B
2 C